<div  class="row">
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Nærtudløbne Ferskvarer</h1>
            </div>
            <div class="panel-body">
                <table class="table" id="freshGoods">
                    <tr><td>Navn</td><td>Antal</td><td>Godkend</td></tr>

                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Nærtudløbne Tørvarer</h1>
            </div>
            <div class="panel-body">
                <table class="table" id="dryGoods">
                    <tr><td>Navn</td><td>Antal</td><td>Godkend</td></tr>

                </table>
            </div>
        </div>
    </div>
</div>