<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="scripts/quagga.min.js"></script>
    <script src="scripts/scannerScript.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/story4Script.js"></script>

    <title>Datoregistering</title>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Datoregisterings system</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Navigation</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <a id="btnDatoliste" class="btn btn-success navbar-btn btn-lg active" role="button">Datoliste</a>
            <a id="btnRegistrer" class="btn btn-success navbar-btn btn-lg" role="button">Registrer</a>
            <a id="btnKasseret" class="btn btn-success navbar-btn btn-lg" role="button">Kasseret</a>
            <a id="btnStatistik" class="btn btn-success navbar-btn btn-lg" role="button">Statistik</a>
        </div>
    </div>
</nav>

<div class="container" id="container">
    {{{body}}}
</div>

<footer class="footer"><p class="text-center">Copyright &copy; Ingen Langhalm Tærsket Inc.</p></footer>

</body>
</html>