<html>
<head>
    <title>Session Management in NodeJS using Express4.2</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            let username;
            let password;
            $("#btnLogin").click(function(){
                username=$("#loginUsername").val();
                password=$("#loginPassword").val();
                /*
                 * Perform some validation here.
                 */
                window.location.href="/index";


                $.post("http://localhost:3000/login",{email:username,pass:pass},function(data){
                    if(data==='done')
                    {
                        window.location.href="/index.hbs";
                    }
                });
            });
        });
    </script>
</head>
<body>
<input type="text" size="40" placeholder="Type your email" id="loginUsername"><br />
<input type="password" size="40" placeholder="Type your password" id="loginPassword"><br />
<input type="button" value="Login" id="btnLogin">
</body>
</html>
