<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Opret bruger</h1>
            </div>
            <div class="panel-body">
                <input id="createUserUserName" class="form-control" type="text" placeholder="Brugernavn">
                <input id="createUserPassword" class="form-control" type="password" placeholder="Password">
                <button id="btnCreateUser" type="button" class="btn btn-success btn-block">Opret bruger</button>
                <p id="createUserFeedback"></p>
            </div>
        </div>
    </div>
</div>