<div  class="row">
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Sortiment</h1>
            </div>
            <div class="panel-body">
                Liste med vare her
            </div>
        </div>
        <button type="button" class="btn btn-success btn-block">Scan</button>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Udløbsdato</h1>
            </div>
            <div class="panel-body">
                <input type="date">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Opret ny vare</h1>
            </div>
            <div class="panel-body">
                <input class="form-control" type="text" placeholder="Varenavn" id="newProductName">
                <input class="form-control" type="text" placeholder="Stregkode" id="newProductBarcode">
                <button type="button" class="btn btn-success btn-block" id="btnCreateProduct">Opret</button>
            </div>
        </div>
    </div>
</div>