<div  class="row">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">Varer der mangler registering:</h1>
            </div>
            <div class="panel-body">
                <ui id="dateRegPanel">
                    <button class="btn btn-success glyphicon glyphicon-plus" type="button" id="testButtonDateReg"></button>
                </ui>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="dateRegModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Tilføj udløbsdato</h4>
            </div>
            <div class="modal-body" style="position: static">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnDateRegModalTilfoej">Tilføj</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btnDateRegModalGodkend">Godkend</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->