<div class="row">
    <div class="col-sm-12">
        <div class="panel with-nav-tabs panel-danger">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tabRegAllContent" id="tabRegAll" data-toggle="tab">Alle</a></li>
                    <li><a href="#tabRegFreshContent" id="tabRegFresh" data-toggle="tab">Ferskvarer</a></li>
                    <li><a href="#tabRegDriedContent" id="tabRegDried" data-toggle="tab">Tørvarer</a>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tabRegAllContent"></div>
                    <div class="tab-pane fade" id="tabRegFreshContent"></div>
                    <div class="tab-pane fade" id="tabRegDriedContent"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="dateRegModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Udløbsdato</h4>
            </div>
            <div class="modal-body" style="position: static" id="dateRegModalBody">
            </div>
            <div class="modal-footer">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="date">Vælg Dato: </label>
                        <input type="date" class="form-control" id="dateRegDatePickerModal">
                    </div>
                    <button type="button" class="btn btn-success" id="btnDateRegModalTilfoej">
                        Tilføj Dato
                    </button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="btnDateRegModalGodkend">
                        Godkend
                    </button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->